{% extends 'web/base.html' %}

{% block content %}
    <div class="formcontainer">
        <a href="checker" class='btn btn-lg'>Generate Prediction</a>
    </div>
    {% if sentences %}
    <div id="inject">
        <ul>
                {% if sentences.ans == 1 %}
                    <li>{{sentences.sentence}}</li>
                    <div class="axiom">Axiom</div>
                {% else %}
                    <li>{{sentences.sentence}}</li>
                    <div class="notaxiom">Not Axiom</div>

                {% endif %}
        </ul>
    </div>
    <div class="but">

        </form>
    <form action="checker/{{sentences.id}}+">
        <button class="btn">Correct</button>
    </form>
    </div>

    <div class="but">
    <form action="checker/{{sentences.id}}-">
        <button class="btn">Wrong</button>
    </form>
    </div>
    {% endif %}

{% endblock %}
