{% extends 'web/base.html' %}

{% block content %}
    {% if correct %}
    {% else %}
        <div class="formcontainer">
            <a href="checker" class='btn btn-lg'>Generate Prediction</a>
        </div>
    {% endif %}

    {% if sentences %}
    <div id="inject">
        <ul>
                {% if sentences.ans == 1 %}
                    <li><h3>{{sentences.sentence}}</h3></li>
                    <div class="axiom">Axiom</div>
                {% else %}
                    <li><h3>{{sentences.sentence}}</h3></li>
                    <div class="notaxiom">Not Axiom</div>

                {% endif %}
        </ul>
    </div>
    </form>

        {% if correct %}
            <div class="but">
                <form action="{{sentences.id}}!">
                    <input type="text" id="fix_correct" name="fix_correct">
                    <button class="btn">Correct</button>
                </form>
            </div>
        {% else %}
            <div class="but">
                <form action="checker/{{sentences.id}}+">
                    <button class="btn">Correct</button>
                </form>
            </div>

            <div class="but">
                <form action="checker/{{sentences.id}}-">
                    <button class="btn">Wrong</button>
                </form>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
